<style>
    .container {
        margin: 0 auto;
        max-width: 600px;
        padding: 20px;
        background: #fff;
        color: gray;
    }

    .container__header {
        margin-bottom: 20px;
    }

    .container__header__title {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
        color: #335d73;
    }

    .container__content {
        margin-bottom: 20px;
    }

    .container__content__text {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }

    .container__content__link {
        font-size: 16px;
        font-weight: 400;
        margin: 0, 20px;
        display: grid;
        place-content: center
    }

    .container__content__link a {
        color: white;
        border: none;
        background: #335d73;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
    }

    .container__content__link a:hover {
        background: #437996;
    }

    .container__footer {
        margin-bottom: 20px;
    }
</style>

<div class='container'>
    <div class='container__header'>
        <h1 class='container__header__title'>Convenio por vencer</h1>
    </div>
    <div class='container__content'>
        <p class='container__content__text'>Estimados, me permito por este medio mencionar que el convenio numero {{code}} esta por vencer.</p>
        <p>Perteneciente a la empresa {{ company }}, por favor con su ayuda para el inicio de la renovacion de este</p>
    </div>
    <div class='container__footer'>
        <p class='container__footer__text'>Gracias,<br />El equipo de
            {{siteName}}</p>
    </div>
</div>

